<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main id="activitiesForm">
  <% if (user) { %>
  <h1> <%= title %></h1>
    <form id="activity-form" action="/trips/<%= trip._id %>/activities/<%= activity._id %>?_method=PUT" method="POST">
      <div class="formRow">
        <div class="formItem">
          <label for="activityName">Name of activity:</label>
          <input type="text" name="name" id="activityName" value="<%= activity.name %>">
        </div>
        <div class="formItem">
          <label for="activityVenue">Name of venue:</label>
          <input type="text" name="venue" id="activityVenue"value="<%= activity.venue %>">
        </div>
      </div>
      <div class="formRow">
        <div class="formItem">
          <label for="activityType">What type of activity is this?</label>
          <select name="type" id="activityType" value="<%= activity.type %>">
            <option value="tourism" <% if (activity.type==="tourism") { %> selected="<%= activity.name %>"
             <% } %>>
             Tourism</option>
            <option value="event" <% if (activity.type==="event") { %> selected="<%= activity.name %>"
              <% } %>>Event</option>
            <option value="restaurant" <% if (activity.type==="restaurant") { %> selected="<%= activity.name %>"
              <% } %>>Restaurant</option>
            <option value="adventure" <% if (activity.type==="adventure") { %> selected="<%= activity.name %>"
              <% } %>>Adventure</option>
          </select>
        </div>
      <button type="submit">Add Activity</button>
    </form>
  <% } %>
</main>


<%- include('../partials/footer') %>