<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<!-- <main>
  <h1>hello, <%= user ? user.profile.name : "friend" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>
</main> -->
<main>
  <div class="welcomeArea">
    <div class="videoContainer">
      <iframe 
      src="https://www.youtube.com/embed/JXMWOmuR1hU?autoplay=1&mute=1&loop=1&controls=0&howinfo=0&rel=0"frameborder="0"
      allowfullscreen id="vacationVideo"></iframe>
    </div>
    <div class="welcomeMessage">
      <span class="subtitle">Plan your escape</span>
      <h1>Travel Bucket</h1>
      <p>Design the travel plans of your dreams and share with others!</p>
      <div>
      <h2 class="welcomeHeader">Welcome <%= user ? `back, ${user.profile.name}`
        : "back, travel dreamer" %></h2>
      </div>
      <% if (user) { %>
        <a class="homeBtn" href="/trips">View trips</a>
      <% } else { %>
        <div 
          id="g_id_onload"
          data-client_id="<%= googleClientID %>"
          data-login_uri="/auth/google"
          data-auto_prompt="false"
          data-prompt_parent_id="g_id_onload"
        ></div>
        <div 
          class="g_id_signin"
          data-type="standard"
          data-size="large"
          data-theme="outline"
          data-text="sign_in_with"
          data-shape="rectangular"
          data-logo_alignment="left"
        ></div>
        <% } %>
        <% class Reviews {
          constructor(review, stars, name) {
              this.reviewContent = review
              this.stars= stars
              this.name=name
          }
  
          get reviewContent() {
              return this.review
          }
      
          set reviewContent(x) {
              this.review = x
          }
  
          get numOfStars() {
              return this.stars
          }
      
          set numOfStars(x) {
              this.stars = x
          }
  
          get revName() {
              return this.name
          }
      
          set revName(x) {
              this.name = x
          }
      }
      let review1= new Reviews("Using this app helped me not kill my friends while planning!",5,"Carmen San Diego")

      let review2= new Reviews("Using this app helped me discover all kinds of things during my trips!",4, "Indiana Jones")

      let review3= new Reviews("Such a time saver!",4, "Captain Jack Sparrow")

      let listOfReviews=[review1,review2,review3]
      %>
        <div class="reviewsArea">
          <% listOfReviews.forEach(review => { %>
            <div class="reviewCard">
              <div class="starRow">
                <% for( let index = 0; index < review.stars; index++ ) { %>
                  <i class="fa-solid fa-star"></i>
                <% } %>
              </div>
              <p><%= review.reviewContent %></p>
              <p>- <%= review.name %>
            </div>
          <% }) %>
        </div>
    </div>
    </div>
</main>


<%- include('./partials/footer') %>
