<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<!-- <main>
  <h1>hello, <%= user ? user.profile.name : "friend" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>
</main> -->
<main>
  <div class="welcomeArea">
    <div class="videoContainer">
      <iframe 
      src="https://www.youtube.com/embed/JXMWOmuR1hU?autoplay=1&mute=1&loop=1&controls=0&howinfo=0&rel=0"frameborder="0"
      allowfullscreen id="vacationVideo"></iframe>
    </div>
    <div class="welcomeMessage">
      <span class="subtitle">Plan your escape</span>
      <h1>Travel Bucket</h1>
      <p>Design the travel plans of your dreams and share with others!</p>
      <div>
       <h2 class="welcomeHeader">Welcome <%= user ? `back, ${user.profile.name}`
         : "back, travel dreamer" %></h2>
      </div>
      <% if (user) { %>
        <a class="homeBtn" href="/trips">View trips</a>
      <% } else { %>
        <div 
          id="g_id_onload"
          data-client_id="<%= googleClientID %>"
          data-login_uri="/auth/google"
          data-auto_prompt="false"
          data-prompt_parent_id="g_id_onload"
        ></div>
        <div 
          class="g_id_signin"
          data-type="standard"
          data-size="large"
          data-theme="outline"
          data-text="sign_in_with"
          data-shape="rectangular"
          data-logo_alignment="left"
        ></div>
        <% } %>
    </div>
  </div>

</main>

<%- include('./partials/footer') %>
