<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main class="tripForm">
  <% if (user) { %>
  <h1>Edit <%= trip.name %></h1>
  <div class="seperator"></div>
  
    <form id="trip-form" action="/trips/<%= trip._id %>?_method=PUT" method="POST">
      <div class="formRow">
        <div class="formItem">
          <label for="tripName">Name of trip:</label>
          <input type="text" name="name" id="tripName" value="<%= trip.name %>">
        </div>
        <div class="formItem">
          <label for="tripCity">Where would you like to travel</label>
          <input type="text" name="city" id="tripCity" value="<%= trip.city %>">
        </div>
      </div>
      <div class="formRow">
        <div class="formItem">
          <label for="tripStart">When do you plan to travel?</label>
          <input value="<%= trip.tripStart.toISOString().slice(0,16) %>" type="datetime-local" name="tripStart" id="tripStart">
      </div>
      <div class="formItem">
          <label for="tripEnd">When do you plan to return?</label>
          <input value="<%= trip.tripEnd.toISOString().slice(0,16) %>" type="datetime-local" name="tripEnd" id="tripEnd">
      </div>
      <div class="formRow">
        <div class="formItem">
          <label for="tripImg">Add a trip image</label>
          <input type="text" id="tripImg" name="imgUrl" value="<%= trip.imgUrl%>">
        </div>
      </div>
      <div class="submitBtn">
      <button type="submit">Update Trip</button>
      </div>
    </form>
  <% } %>
</main>

<%- include('../partials/footer') %>