<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <div class="index-welcome-banner">
    <h1>Your Trips</h1>
  </div>
  <% if (trips.length===0) { %>
  <h3>No trips planned!</h3>
  <% } else { %>
    <div class="tripsContainer">
      <ul>
        <% trips.forEach(trip => { %>
        <div class="tripCard">
    
            <span class="flag"> <i class="icon fa-solid fa-calendar-days"></i>
              <%= (trip.tripStart).toDateString() %> to <%= (trip.tripEnd).toDateString() %></span>
        
          <img class="tripImg" src="<%= trip.imgUrl %>" alt="<%= trip.name %>">
          <div class="tripContent">
            <h3><%= trip.name %></h3>
            <h4><%= trip.city %></h4>
            <!-- <h4><%= (trip.tripStart).toDateString() %> to <%= (trip.tripEnd).toDateString() %></h4> -->
              <div class="statusChange">
                <a class="tripDetailsBtn" href="/trips/<%= trip._id %>">View trip details</a>
                <a class="tripDeleteBtn">
                  <form action="/trips/<%= trip._id %>?_method=DELETE" method="POST">
                    <button type="submit">Delete this trip
                    </button>
                  </form>
                </a>
              </div>
          </div>
          </div>
        <% }) %>
      </ul>
    </div>

  <% } %>

  </main>

<%- include('../partials/footer') %>