<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <div class="index-welcome-banner">
    <h2>Your Trips</h2>
    <a href="/trips/new">Create a trip</a>
  </div>
  <% if (trips.length===0) { %>
  <h3>No trips planed!</h3>
  <% } else { %>
 
    <div class="tripsContainer">
      <ul>
        <% trips.forEach(trip => { %>
        <div class="tripCard">
            <h3><%= trip.name %>|<%= trip.city %></h3>
              <div class="status-change">
                <a href="/trips/<%= trip._id %>">View trip details</a>
                <form action="/trips/<%= trip._id %>?_method=DELETE" method="POST">
                  <button type="submit">Delete this trip
                  </button>
                </form>
              </div>
          </div>
        <% }) %>
      </ul>
    </div>

  <% } %>
  </main>

<%- include('../partials/footer') %>