<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <div class="index-welcome-banner">
    <h2>Welcome <%= user.profile.login %></h2>
    <div><%= user.profile.name %></div>
    <a href="/trips/new">Create a trip</a>
  </div>
  <% if (trips.length===0) { %>
  <h3>No trips planed!</h3>
  <% } else { %>
    <ul>
      <% trips.forEach(trip => { %>
      <div class="tripCard">
        <h3><%= trip.name %>
          <p><% trip.city %></p>
        </div>
      <% }) %>
    </ul>

  <% } %>
  </main>

<%- include('../partials/footer') %>