<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

  <main class="tripContainer">
    <div class="tripPicContainer">
      <img class="tripPic" src="<%= trip.imgUrl %>"/>
      </div>
    <div class="tripDetails">
      <div class="topInfo">
    <h1><%= trip.name %></h1>
    <div class="tripDates">
    <h2> <%= (trip.tripStart).toDateString()  %> - </h2>
    <h2><%= (trip.tripEnd).toDateString() %> </h2>
    </div>
    </div>
    <p>City: <%= trip.city %> </p>
   
    <a href="/trips/<%= trip._id %>/edit">Edit this trip</a>
    <h2>Activities</h2>
    <% if (!trip.activities.length) { %>
      <p>No activities planned! Start adding some!</p>
      <a href="/trips/<%= trip._id %>/activities/new">Add activity</a>
    <% } else { %>
      <ul>
      <% trip.activities.forEach(activity => { %>
      <li><%= activity.name %> at <%= activity.venue %></li>
      <a href="/trips/<%= trip._id %>/activities/<%= activity._id %>">Activity Details</a>
      <a href="/trips/<%= trip._id %>/activities/<%= activity._id %>/edit">Edit Activity</a>
      <form action="/trips/<%= trip._id %>/activities/<%= activity._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete this trip
        </button>
      </form>
      <% }) %>
      </ul>
      <a href="/trips/<%= trip._id %>/activities/new">Add another activity</a>
    <% }%>
    <form action="/trips/<%= trip._id %>?_method=DELETE" method="POST">
      <button type="submit">Delete this trip
      </button>
    </form>
    </div>
  </main>

<%- include('../partials/footer') %>