<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

  <main>
    <h1><%= trip.name %></h1>
    <p>City: <%= trip.city %> </p>
    <p>Leave Date: <%= trip.tripStart %></p>
    <p>Return Date: <%= trip.tripEnd %></p>
    <a href="/trips/<%= trip._id %>/edit">Edit this trip</a>
    <img src="<%= trip.imgUrl %>"/>
    <h2>Activities</h2>
    <% if (!trip.Activities) { %>
     <p>No activities planned! Start adding some!</p>
   <% } else { %>
    <ul>
    <% trip.activities.forEach(activity => { %>
     <li><%= activity.name %></li>
    <% }) %>
    </ul>

    <form action="/trips/<%= trip._id %>?_method=DELETE" method="POST">
    <% }%>
    <form action="/trips/<%= trip._id %>?_method=DELETE" method="POST">
      <button type="submit">Delete this trip
      </button>
    </form>
  </main>

<%- include('../partials/footer') %>