<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

  <main class="tripContainer">
    <div class="tripPicContainer">
      <img class="tripPic" src="<%= trip.imgUrl %>"/>
      </div>
    <div class="tripDetails">
      <h1><%= trip.name %></h1>
      <div class="topInfo">
    <div class="tripDates">
      <div class="iconContainer">
      <i class="icon fa-solid fa-calendar-days"></i>
      </div>
    <p> <%= (trip.tripStart).toDateString()  %> - <%= (trip.tripEnd).toDateString() %> </p>
    </div>
    <div class="tripLocation">
      <div class="iconContainer">
      <i class="icon fa-solid fa-map-location-dot"></i>
      </div>
    <p> <%= trip.city %> </p>
    </div>
    </div>
    <hr>
    <div class="activitiesContainer">
    <h2>Activities</h2>
    <% if (!trip.activities.length) { %>
      <p>No activities planned! Start adding some!</p>
      <a class="activitiesBtn" href="/trips/<%= trip._id %>/activities/new">Add activity</a>
    <% } else { %>
      <ul class="activitiesList">
      <% trip.activities.forEach(activity => { %>
        <li class="activityListItem">
        <div class="activityCard">
          <div class="activityCategory">
        <div class="activityIcon">
          <% if (activity.type.toLowerCase() === "tourism") { %>
            <i class="icon fa-solid fa-camera fa-2xl"></i>
          <% } else if (activity.type.toLowerCase() === "event") { %>
            <i class="icon fa-solid fa-star fa-2xl"></i>
          <% } else if (activity.type.toLowerCase() === "restaurant") { %>
            <i class="icon fa-solid fa-utensils fa-2xl"></i>
          <% } else if (activity.type.toLowerCase() === "adventure") { %>
            <i class="icon fa-solid fa-bolt-lightning fa-2xl"></i>
          <% } else if (activity.type.toLowerCase() === "leisure") { %>
            <i class="icon fa-solid fa-spa fa-2xl"></i>
          <% } else { %>
            <i class="icon fa-solid fa-question fa-2xl"></i>
            <% } %>
        </div>
        <p><%= activity.type %></p>
        </div>
        <div class="activityContent">
          <span class="activityName"><%= activity.name %> at <%= activity.venue %></span>
        <div class="activityOptions">
        <a class="activitiesBtn" href="/trips/<%= trip._id %>/activities/<%= activity._id %>">Review activity details</a>

        <a class="activitiesBtn" href="/trips/<%= trip._id %>/activities/<%= activity._id %>/edit">Edit Activity</a>

      <a class="tripDeleteBtn"><form action="/trips/<%= trip._id %>/activities/<%= activity._id %>?_method=DELETE" method="POST"><button type="submit">Delete this activity</button></form></a>
      </div>
    </div>
      </div>
    </li>
      <% }) %>
      </ul>
    <% }%>
    </div>
  
    <div class="tripStatusChange">
      <a class="activitiesBtn" href="/trips/<%= trip._id %>/activities/new">Add another activity</a>
      <a class="tripDetailsBtn" href="/trips/<%= trip._id %>/edit">Edit trip details</a>
      <a class="tripDeleteBtn">
        <form action="/trips/<%= trip._id %>?_method=DELETE" method="POST">
          <button type="submit">Delete this trip
          </button>
        </form>
      </a>
    </div>
    </div>
  </main>

<%- include('../partials/footer') %>